*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/TesteJAva/nbproject/private/
/Java/TesteJAva/dist/
/Java/TesteJAva/
/CodeJavaApp/nbproject/private/
/AppClientJava/nbproject/private/
/AppClientJava/build/
/AppCompanytec/nbproject/private/
/AppCompanytec/build/
/AppCompanytec/dist/
/AppBuscaIp/nbproject/private/
/AppBuscaIp/build/
/AppCadastroCliente/nbproject/private/
/AppCadastroCliente/build/
/AppCadastroCliente/
